.frame-container {
  padding: 2.5rem;

  & iframe {
    width: 100%;
  }

  & .frame__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & li {
    line-height: 1.75;
    list-style: circle;
  }

  @include from(lg) {
    width: 50vw;
    margin: 0 auto;
  }
}