.nav {
  border-radius: 10px 1px 0 0;

  & .tab {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0;

    &:not(.active-tab):hover {
      background: rgb(255, 225, 95);
    }
  }
}

.active-tab {
  background-color: #fff;
}
